.floor-image {
  width: 100%;
  height: 100%;
}

.room {
  pointer-events: all;
  cursor: pointer;
  fill: oklch(70.4% 0.04 256.788);
}

.room:hover {
  fill: oklch(83.7% 0.128 66.29);
}

.room.active {
  fill: oklch(75% 0.183 55.934);
}

g[stroke]:not(.room) {
  pointer-events: none;
}
