.room-details {
  position: fixed;
  inset: 0 0 0 auto;
  width: 100%;
  max-width: 360px;
  padding: 8px;
  background-color: oklch(98.4% 0.003 247.858);
  border-left: 1px solid oklch(86.9% 0.022 252.894);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.close-room-details {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
